<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:10000/learn_db</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="org.example.User"/>
    </session-factory>
</hibernate-configuration>